<h1>Welcome to the Plot's Index Page</h1>
<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <ul>
      <li><p>Plot Number: <%= plot.number%></p></li>
      <p>Plants:</p>
      <ul>
        <% plot.plants.each do |plant| %>
          <li>Plant Name: <%= plant.name %> <%= button_to 'Remove Plant',  plot_plant_path(plot_id: plot.id, id: plant.id), method: :delete, data: {turbo: :false}%></li> 
        <% end %>
      </ul>
    </ul>
  </div>
<% end %>