<h1>Plots</h1>
<% @plots.each do |plot| %>
  <h3>Plot Number: <%= plot.number %></h3>
  <ul>
    <% plot.plants.each do |plant| %>
      <li><%= plant.name %></li>
      <%= button_to "Delete Plant", delete_plant_path(plant), method: :delete %>
    <% end %>
  </ul>
<% end %>
