<h1> Plots </h1>

<% @plots.each do |plot| %>
  <div id="plot-<%=plot.id%>">
    <h2> Plot <%= plot.id %> </h2>
    <% plot.plants.each do |plant| %>
      <ul>
        <li> <%= plant.name %></li>
      </ul>
    <% end %>
  </div>
<% end %>
