<h1>Plots</h1>

<ol>
  <% @plots.each do |plot| %>
    <li>
      plot number: <%= plot.number %><br> 
      <% if plot.plants.any? %>
        <% plot.plants.each do |plant| %>
          <li><%= plant.name %></li>
        <% end %>
    </li>
  <% else %>
    <p>No plants in this plot</p>
  <% end %>
  <% end %>
</ol>