<h1> Plots </h1>

<% @plots.each do |plot| %>
  <div id="plot-<%=plot.id%>">
    <h2> Plot <%= plot.id %> </h2>
    <% plot.plot_plants.each do |plot_plant| %>
      <ul>
        <li> 
          <%= plot_plant.plant.name %>
          <%= button_to "Delete", "/plot_plants/#{plot_plant.id}", method: :delete %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
