<h1><%=@garden.name%></h1>

<section class="plants-under-100">
  <% @garden.plants.unique_plants_harvested_in_one_hundred.each do |plant| %>
    <div id="plant-<%= plant.id %>">
      <h3><%= plant.name %></h3>
    </div>
  <% end %>
</section>  