<h1><%= @garden.name %>'s Plants</h1>
<h3>Plants that take under 100 days to harvest:</h3>
<ul id="unique-plants-under-100">
  <% @garden.plants.unique_plants_under_100_days.each do |plant| %>
    <li><%= plant.name %></li>
  <% end %>
</ul>

<h3>Plants that appear most often:</h3>
<ul id="plants-most-often">
  <% @garden.plants.most_popular_plants.each do |plant| %>
    <li><%= plant.name %></li>
  <% end %>
</ul>
